.game-container{
    margin-top:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

app-game{
    margin-bottom:25px;
}

.title{
    margin:0;
    text-align: left;
    vertical-align: middle;
}

body{
    overflow-y: scroll;
}