<div class="card">
    <div class="card-top">
        <p class="game-name">{{game.name}}</p>
        <p class="game-price">{{game.price}} UAH</p>
    </div> 
    <div class="card-bot">
        <p class="description">{{game.description}}</p>
        <div *ngIf="lib===true; else options">
            <button class="button add" *ngIf="bought===false"  (click)="addGame()">Add game</button>
            <button class="button add bought" *ngIf="bought===true"  disabled="true">Game already bought</button>
        </div>
        <ng-template  #options>
            <div class="button-container">
            <button class="button download" (click)="removeGame()">Download</button>
            <button class="button share" (click)="removeGame()">Share</button>
        </div>
        </ng-template>
    </div> 
</div>
