.search-container{
    margin-top:5px;
}

.game-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-filter{
    display:flex;
}

.title{
    margin:0;
    text-align: left;
    vertical-align: middle;
}

app-game{
    margin-bottom:25px;
}