<app-header *ngIf="isSignedIn===true"></app-header>
<router-outlet></router-outlet>
    <!-- <app-register></app-register>
    <app-login (isLogout)="handleLogin()"></app-login>
    <app-profile *ngIf="isSignedIn"  (isLogout)="handleLogout()"></app-profile>
    
    <div class="content" *ngIf="isSignedIn==true">
        <div class="wrapper">
        <div class="title-position">
            <p class="title">Title</p>
        </div>
        <app-store></app-store>
        <app-library></app-library>
        <app-friends></app-friends>
        </div>
    </div> -->