<div class="content-small">
    <div class="form-small">
        <p class="title">Log in</p>
        <a class="label" routerLink="/register">Dont have an account? Register!</a>
        
        <label class="label" for="email">Email</label>
        <input class="input-field" type="text" placeholder="Email" #email/>
        
        <label class="label" for="Password">Password</label>
        <input class="input-field" type="password" placeholder="Password" #password/>
        
        <button class="button" type="submit" (click)="onSignin(email.value, password.value)">Log in</button>
    </div>
</div>