/* You can add global styles to this file, and also import other style files */
@import './app/shared/global.scss';
*{
    margin:0px;
    padding:0px;
}

.content-small{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: $bg;
    .form-small{
        display:flex;
        flex-direction: column;
        align-items:center;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
}

.content-big{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    height:100vh;
    background: $bg;
    .form-big{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        width: 80%;
        height: 85%;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
} 

body{
    background: $bg;
}


.label{
    width: 200px;
    height: 20px;
    padding-left:5px;
    margin-top:20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.title{
    font-size:28px;
    margin-top:60px;
    margin-left:60px;
    margin-right:60px;
    width:200px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.input-field{
    font-family: Roboto;
    padding-left:10px;
    width: 190px;
    height: 32px;
    border: 0.5px solid #000000;
    border-radius: 4px;
}

.button{
    color:white;
    margin-top:20px;
    margin-bottom: 60px;
    font-family: Roboto;
    width: 200px;
    height: 32px;
    background: $accent;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border:none;
    border-radius: 4px;
}

.logout-image{
    width:50px;
    height:50px;
}

.logout-button{
    width:50px;
    height:50px;
    background: transparent;
    border: none !important;
    font-size:0;
}

.search-container{
    margin-bottom:15px;
    .label{
        margin-bottom:10px;
    }

    .input-field{
        width:89%
     }
     
     .button{
         margin:0;
         margin-left:1%;
         width:8%;
     }
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
}

.title-position{
    width:100%;
}

.button-container{
    display: flex;
    flex-direction: row;
}

